<footer>
    <div>
        <p>HORARIOS VIVERO Y GROW</p>
        <p>Lunes a sabados de 10 a 20hs</p>
        <p>Domingo cerrado</p>
    </div>
    <div>
        <p>VISITANOS EN GRAND BOURG</p>
        <P>Ricardo rojas 123, entre callao y plumerillo</P>
    </div>
    <div>
        <p>INFORMACION DE UTILIDAD</p>
        <ul>
            <li>Preguntas frecuentes</li>
            <li>Shop</li>
            <li>Envios</li>
            <li>Mi cuenta</li>
        </ul>
    </div>
</footer>