<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>
    <main>
        <section>
            <div>
                <div id="list-product-car">                    
                    <div >
                        <img src="images/fertilizante.jpeg" alt="imagen-del-producto">
                        <p id="nombre-product-list">Fertilizante Boost</p>
                        <h4>$15.000</h4>
                    </div>
                    <div >
                        <img src="images/fertilizante.jpeg" alt="imagen-del-producto">
                        <p id="nombre-product-list">Fertilizante Boost</p>
                        <h4>$15.000</h4>
                    </div>
                    <div >
                        <img src="images/fertilizante.jpeg" alt="imagen-del-producto">
                        <p id="nombre-product-list">Fertilizante Boost</p>
                        <h4>$15.000</h4>
                    </div>
                </div>
                <div id="section-shop">
                    <form action="get">
                        <input type="text" id="codigo-postal" placeholder="Ingrese codigo postal">
                        <button id="button-calc-envio">CALCULAR</button>
                    </form>
                    <button id="button-shop">CONFIRMAR COMPRA</button>
                    <a href="">VER MAS PRODUCTOS</a>
                </div>
            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>

</body>
</html>