<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    <main>
        <div class="banner">
            <img id="banner-main" src="images/banner_verde.jpg" alt="banner de presentacion">
        </div>
        <div>
            <h2>Productos destacados</h2>
            <section>
                <article>
                    <h3></h3>
                    <img src="" alt="">
                    <p></p>
                    <button>AGREGAR AL CARRO</button>
                </article>
                <article>
                    <h3></h3>
                    <img src="" alt="">
                    <p></p>
                    <button>AGREGAR AL CARRO</button>
                </article>
            </section>
        </div>
        <section>
            <div>
                <i class="fa-solid fa-circle-info"></i>
                <p>Asesoramiento via Whatsapp</p>
                <p>Te brindamos la ayuda necesaria para saber que tipo producto se adecua mas a tu situacion.</p>
                <p>De lunes a sabados de 10 a 20hs</p>
            </div>
            <div>
                <i class="fa-solid fa-handshake"></i>
                <p>Tranquilidad</p>
                <p>Tenemos años en la industria ayudando a un sinfin de clientes.</p>
            </div>
            <div>
                <i class="fa-solid fa-truck-fast"></i>
                <p>Envios a todo el pais</p>
                <p>Envio gratis a todo el pais. Con tu compra a partir de $150.000</p>
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>