<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <main>
        <%- include("./partials/header") %>
        <div>
            <section>
                <div class="cinta-img-product">
                    <div class="img-product">
                        <img src="images/morralIMG1.jpg" alt="imagen producto1">
                        <img src="images/morralIMG2.jpg" alt="imagen producto2">
                        <img src="images/morralIMG3.jpg" alt="imagen producto3">
                    </div>
                    <img src="images/morralIMG1.jpg" alt="imagen producto principal">
                </div>
                <article class="detail-product">
                    <h4 id="nombre-product-detail">Morral tipo bandolera RAW</h4>
                    <p id="precio-product-detail">$45.000</p>
                    <button>AGREGAR AL CARRO</button>
                    <button>COMPRAR</button>
                    <p id="descripcion-product-detail">Morral estilo bandolera colores varios, con cinta regulable</p>
                </article>
            </section>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>