<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <main>
        <%- include("./partials/header") %>
        <div>
            <section>
                <div>
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
                <img src="" alt="">
                <article>
                    <h4 id="nombre-product-detail"></h4>
                    <p id="precio-product-detail"></p>
                    <button>AGREGAR AL CARRO</button>
                    <button>COMPRAR</button>
                    <p id="descripcion-product-detail"></p>
                </article>
            </section>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>