<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <section>
            <div>
                <div id="list-product-car">
                    
                    <img src="../../desing/images/image-sustrato.jpg" alt="imagen-del-producto">
                    <p id="nombre-product-list"></p>
                    
                    
                </div>
                <div id="section-shop">
                    <form action="get">
                        <input type="text" id="codigo-postal" placeholder="Ingrese codigo postal">
                        <button id="button-calc-envio">CALCULAR</button>
                    </form>
                    <button id="button-shop">CONFIRMAR COMPRA</button>
                    <a href="">VER MAS PRODUCTOS</a>
                </div>
            </div>
        </section>
    </main>
    <%- include('./partials/footer') %>

</body>
</html>