

@import './style.css';
@import './header.css';
@import './footer.css';
@import './home.css';
@import './media/products.css';
@import './media/shopCar.css';
@import './media/register.css';
@import './headerAdmin.css';


.inputError {
    margin: 1vh;
    width: 90%;
    border-radius: 0.3rem;
    border-color: red;
    box-shadow: 1px 1px 10px red;
}

input {
    margin: 1vh;
    width: 90%;
    border-radius: 0.3rem;
}

:root {
    --verde: #ADFF2F;
    --gris: #d4d3d3;
    --negro: #0C0C0C;
    --blanco: #FFFFFF;
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Oxanium:wght@600&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');