* {
    margin: 0;
    

}

/* main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
} */
.div-img-product-edit {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.img-product-edit {
    display: flex;
    
    width: 90%;
}

.admin-products {
    background-color: var(--gris);

    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    margin-top: 50px;
    gap: 1rem;
    
}

.Admin-body {
    align-items: center;
    width: 100%;
}

.product {
    display : flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blanco);
    border-radius: 0.5rem;
    margin: 0.2rem 0.5rem 0.2rem;
    height: 2.5rem;
}

.buttons {
    
    display : flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    
    
    
}

a {
    align-self: flex-start;
    
    text-decoration: none;
    list-style: none;
    color: var(--negro);
}

.product h3 {
    margin-left: 0.5rem;
}

:root {
    --verde: #ADFF2F;
    --gris: #a8a1a1;
    --negro: #0C0C0C;
    --blanco: #FFFFFF;
}