.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-add-product {
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    align-self: center;
    color: greenyellow;
    background-color: black;
    border: 2px solid greenyellow;
    border-radius: 2rem;
    
    transition: .2s ease;
    width: 80%;
    height: 2.5rem;
}

button:hover {
    background-color: greenyellow;
    color: black;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}