.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.small text

.form-add-product {
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.btn {
    align-self: center;
    color: greenyellow;
    background-color: black;
    border: 2px solid greenyellow;
    border-radius: 2rem;
    
    transition: .2s ease;
    width: 80%;
    height: 2.5rem;
    
}

.error-msg {
    text-align: center;
    list-style: none;
    padding: 15px 0px;
    width: 90%;
    gap: 5px;
    
}

.error-msg hr {
    border-color: greenyellow;
    box-shadow: 1px 1px 10px greenyellow;
    margin: 10px 0px;
}

.error-msg > hr:last-of-type{
    border-color: transparent;
}

button:hover {
    background-color: greenyellow;
    color: black;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}