<header>
    <div>
        <div class="top-bar">
            <p>DE 3 A 6 CUOTAS SIN INTERES</p>
        </div>
    </div>
    <div class="cinta-header">
        <div class="cinta-header-center">
            <div class="search-header">
                <input type="text" value="En que podemos ayudarte?">
            </div>
            <div  class="log-user-icon">
                <img id="logo-header" src="images/logo.png">
                <i class="fa-solid fa-cart-shopping"></i>
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
        <div class="menu-nav">
            <ul class="nav-header">
                <li>SEMILLAS</li>
                <li>ABONOS</li>
                <li>FERTILIZANTE</li>
                <li>PESTICIDA</li>
                <li>ACCESORIOS</li>
            </ul>
        </div>
    </div>

</header>