<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

<body>
    <%- include('../partials/header') %>


    <main>
        <h2>agregar producto</h2>
        <section class="form-login">
                        
            <form class="form-add-product" action="/product/add" method="POST">
                <label for="name">Nombre del producto</label>
                <input type="text" name="name" id="name" placeholder="Nombre del producto">
                <label for="marca">Marca del producto</label>
                <input type="text" name="marca" id="marca" placeholder="Descripcion del producto">

                <input type="file" id="image" placeholder="Imagen del producto">
                <label for="categories">Categoria del producto</label>
                <select name="categories" id="categories"> Selecciona un categoria
                    <option value="usado">usado</option>
                    <option value="nuevo">nuevo</option>
                </select>
                <label for="price">Precio del producto</label>
                <input type="text" name="price" id="price" placeholder="Precio del producto">
                
                <button id="button-confirm-add">AGREGAR PRODUCTO</button>
            </form>
        </section>
    </main>

    <%- include('../partials/footer') %>

</body>
</html>